.containerPitchBar{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 15px 0;
}
.cardPitchBar{
    max-width:25vw;
    max-height: 11vh;
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: center;
    font-size: 18pt;
    gap: 5px;
    border: 1px solid #009EDF;
    padding: 10px 25px 10px 5px;
    border-radius: 50px;
}
.cardPitchBar img{
    width: 65px;
    padding: 10px;
    height: auto;
    background-color: #009EDF;
    border-radius: 100%;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 60px;
    background-color: #009EDF;
    color: #fff;
    border-radius: 100%;
}
.elementPitchBar{
    display: flex;
    flex-direction: column;
    text-align: start;
    font-size: 10pt;
    margin-right: 5px;
}
.elementPitchBar span{
    font-weight: 700;
}
.elementPitchBar a{
    text-decoration: underline;
    cursor: pointer;
}
.elementPitchBar p{
    font-size: 9pt;
}

@media(max-width:1020px){
    .containerPitchBar{
        gap: 5px;
    }
    .cardPitchBar{
        border: none;
        padding: 0;
    }
}
@media(max-width:768px){
    .containerPitchBar{
        padding: 0 5px;
        justify-content: space-between;
        align-items: stretch;
    }
    .cardPitchBar{
        flex-direction: column;
        justify-content: stretch;
        max-height: 25vh;
    }
    .elementPitchBar{
        text-align: center;

    }
}
@media(max-width:525px){
    .icon{
        width: 35px;
        height: 40px;
        font-size: 12pt;
    }
    .elementPitchBar span{
        font-weight: 700;
        font-size: 7pt;
    }
    .elementPitchBar a{
        text-decoration: underline;
        cursor: pointer;
        font-size: 7pt;
    }
    .elementPitchBar p{
        font-size: 7pt;
    }
    
}